{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
<script type="text/javascript">
  CSRF_TOKEN = "{{ csrf_token }}";
  USER_EMAIL = "{{ request.user.username }}";
</script>
<script src="{% static 'js/scripts.js' %}"></script>

<nav class="navbar navbar-default navbar-fixed-top">
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li>
				<form class="navbar-form" id="find_users" method="post">
            {% csrf_token %}
            <input class="form-control" id="email_prefix" name="email_prefix" type="text" placeholder="Email" />
				</form>
			</li>
		</ul>
    <ul class="nav navbar-nav navbar-right">
			<li>
	      <div class="navbar-brand" id="page_header">Chats</div>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-3 sidebar">
      <ul class="nav nav-sidebar">
        <ul id="found_users"></ul>
        <table id="conversations"></table>
        <li>
          <form action="{% url 'chat:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" />
          </form>
        </li>
			</ul>
		</div>
    <div class="col-sm-10 col-sm-offset-2 col-md-9 col-md-offset-3 main">
			<div id="chat_pane" class="collapse">
			  <ul id="chat_messages"></ul>
			  <form id="post_message" method="post">
			    {% csrf_token %}
			    <input id="message_text" name="message_text" type="text" placeholder="Message" />
			    <input type="submit" value="Send" />
			  </form>
			</div>
		</div>
	</div>
</div>
